html {
  background-image:url("imgMZ/001.jpg");
}
  /*--background-image:url("img/dog.jpeg")--> */






.dog{
  max-width: 20%;
  display: block;
  margin:0 auto;
}

h1{
  text-align: center;
}


.common{
  color: white ;
  font-size: 50px;
  background: black;
  border: 20px
  border-radius: 50%;
  padding:40px;
  margin:60px;
  text-align:center;
  border-radius: 50%;
  font-family:'Source Code Pro','menlo', monospace;
  }

  .common1{
    color: white ;
    font-size: 30px;
    background: black;
    border: 30px:
    border-radius: 60%;
    padding:20px;
    margin:20px;
    text-align:center;
    border-radius: 50%;
    font-family: 'Source Code Pro','menlo', monospace;
    }
