*{
  box-sizing: border-box;
}

body{
  background-image: url("../img/75-01.jpg");
  background-size: 1710px;
}

img{
  max-width: 100%;
}



.object{
  background:red;

  width: 200px;
  height: 200px;
  border-radius:50%;
  position: fixed;
  top:309px;
  left:20%;
  transition:background 1s,border-radius 5s,transform 6s;

}



.object:hover{
  width: 0;
      height: 0;
      border-left: 100px solid transparent;
      border-right: 100px solid transparent;
      border-bottom: 200px solid red;
  transform: scale(10);
  cursor:pointer;

}

.object2{
  background:blue;

  width: 200px;
  height: 200px;
  border-radius:0%;
  position: fixed;
  top:309px;
  left:60%;
  transition:background 1s,border-radius 5s,transform 6s;

}



.object2:hover{

  background: blue;
  transform: scale(8);
  cursor:pointer;

}
