*{
  box-sizing:border-box;
}

img{
  max-width: 100%;
}


.box{
  background-color:rgb(106, 236, 58);
  width:200px;
  height:200px;
  margin:20px;
  z-index: 10;
  position:relative;
}


.relative{
  position:relative;
  background-color: black;
  top:100px;
  left: 100px;
  z-index: 9;
}

.fixed{
  background-color: rgb(240, 119, 31);
  position: fixed;
  top: 20px;
  right:20px;
}

.absolute{
  background-color: rgb(230, 20, 52);
  position: absolute;
  top: 10px;
  left:20px;
  width: 50px;
  height: 50px;

}

.sticky{
  background-color: rgb(107, 100, 93);
  position:sticky;
  top: 40px;
  left: 0px;
}
