html {
  background-image:url("../img/53-01.jpg");
}



.dog{

         max-width: 40%;
        align: center;
       }

       .flow{
               display:flow-root;

                align: center;
              }

.common2{
                color: white ;
                font-size: 40px;
                background: black;
                border: 10px
                padding:40px;
                margin:60px;
                text-align:center;
                border-radius: 50%;
                font-family:cursive;




#myvideo {position: fixed;
                right: 0;
                bottom: 0;
                min-width: 100%;
                min-height: 100%;
              }

  .b{
  color: white ;
  font-size: 30px;
  background: black;
  border: 10px
  padding:40px;
  margin:60px;
  text-align:center;
  font-family:cursive;


  }
