html {
  background: black;
}
  <!--background-image:url("img/dog.jpeg")-->



#special {
  color: #fff ;
  background: black;
  }


.common{
  color: white ;
  font-size: 100px;
  background: black;
  border: 5px dotted white;
  border-radius: 20px;
  padding:40px;
  margin:60px;
  text-align:center;


  }
