html {
background:white
}



.common{
  color: white ;
  font-size: 40px;
  background: black;
  border: 30px:
  padding:50px;
  margin:20px;
  text-align:left;
  border-radius: 60%;


  }

  .common2{
    color: white ;
    font-size: 40px;
    background: black;
    border: 30px:
    padding:50px;
    margin:20px;
    text-align:right;
    border-radius: 60%;


    }
