*{
  box-sizing:border-box;
}

body{
  background: black;
  /*animation-name: sunset;
  animation-duration: 3s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-timing-function: linear;*/
  animation:sunset 3s infinite alternate linear;
}


img{
  width:200px;
  height: 200px;
  background:rgb(18, 219, 26);
  position:fixed;
  top:43%;
  left: 44%;
  /*transform: translate(-50%,-50%);剧中*/
  /*animation: spin 2s infinite linear;*/
  }

img:hover{
  animation: spin 2s infinite linear;
}



@keyframes sunset{
  0%{
    background:rgb(254, 98, 22);
  }

  100%{
    background: rgb(5, 6, 101);
  }

}

@keyframes spin {
  0%{
    transform: rotate(0deg) scale(1);
    background: rgba(255, 23, 148, 0.61);
    opacity: 1;
  }
  50%{
     transform: rotate(180deg) scale(2);
     background: rgb(16, 184, 215);
     opacity: 0;
      }
  100%{
    transform: rotate(360deg) scale(1);
    background: rgba(255, 23, 148, 0.61);
    opacity: 1;
  }

}
